<% @users.each do |user| %>
  <div class="user_info">
    <img src="<%= user.photo %>" class="user-img" alt="profile picture of <%= user.name %>", width="100px", height="80px" />
    <span class="text_info">
      <%= link_to "/users/#{user.id}" do%>
        <span class="user_name"><%= "Name: #{user.name}"%></span>
      <%end%>
      <br>
      <span class="numbers"><%= "Number of posts: #{user.posts_counter}"%></span>
    </span>
    <br>
  </div>
<% end %>
