<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<%= button_to "Sign out", destroy_user_session_path, :method => :delete %>


<% @users.each do |user| %>
  <div class="user_info">
    <%= image_tag ("#{user.photo}"), alt: "#{user.name}'s photo", width: "100px", height: "80px" %>
    <span class="text_info">
      <%= link_to "/users/#{user.id}" do%>
        <span class="user_name"><%= "Name: #{user.name}"%></span>
      <%end%>
      <br>
      <span class="numbers"><%= "Number of posts: #{user.posts_counter}"%></span>
    </span>
    <br>
  </div>
<% end %>
