<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>  
<div class="user_info">
  <%= image_tag ("#{@user.photo}"), alt: "#{@user.name}'s photo", width: "100px", height: "80px" %>
  <span class="text_info">
    <span class="user_name"><%= "Name: #{@user.name}"%></span>
    <br>
    <span class="numbers"><%= "Number of posts: #{@user.posts_counter || 0}"%></span>
  </span>
  <br>
</div>
<br>

<%= link_to '<button type="button">Add Post</button>'.html_safe, "/users/#{@user.id}/posts/new" %>
<br><br>
<% @posts.each do | post | %>
  <div class="post_container">
    <%= link_to "/users/#{post.id}/posts/#{post.id}" do%>
      <strong><%= "Post ##{post.id}"%> </strong>
    <%end%>
    <br>
    <span><strong><%= post.title%></span></strong>
    <% if can? :destroy, post %>
      <%= link_to "View", post %>
    <% end %>
    <p><%= post.text%></p>
    <span class="post_details"><%= "Comments: #{post.comments_counter || 0}  Likes: #{post.likes_counter || 0}"%></span><br>
    <br>

  </div>
  <br>
  <div class="comments_container">
    <% post.recent_comments.each do |comment|%>
      <span><%="#{comment.user.name}: #{comment.text}" %></span><br>
    <%end%>
  </div>
  <br>
<%end%>
<button type = "button">Pagination</button>
