<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
<div class="post_container">
  <span><strong><%= "Post ##{@a_post.id} by #{@a_post.user.name}"%></strong></span>
  <div><%= @a_post.title%></div>
  <span class="push_right"><%= "Comments: #{@a_post.comments_counter || 0}  Likes: #{@a_post.likes.count}"%></span> <br>
  <br>
  <p><%= @a_post.text%></p>
</div>
<div class="comments_container">
  <% @show_comments.each do |comment| %>
    <%= "#{comment.user.name}: #{comment.text}"%><br>
        <% if can? :destroy, comment %>
          <%= button_to "Delete Comment", user_post_comment_path(user_id: current_user.id, post_id: @post.id, id: comment.id), method: :delete %>
        <% end %>
  <%end%>
</div>
<br>

        

<%= render "likes/form", post: @a_post %>
<%= render "comments/form", post: @_post %>
